In [0]:
import tensorflow as tf

In [0]:
#!pip install -U tensorflow==2.0

In [4]:
tf.__version__

'2.0.0'

In [0]:
from google.colab import drive

In [6]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

1. Read the dataset

In [0]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Project Arput/Churn.csv')

In [12]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [13]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')


2. Drop the columns

In [0]:
data_df=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [27]:

data_df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [29]:
data_df.describe().T

                   count           mean  ...          75%        max
CreditScore      10000.0     650.528800  ...     718.0000     850.00
Age              10000.0      38.921800  ...      44.0000      92.00
Tenure           10000.0       5.012800  ...       7.0000      10.00
Balance          10000.0   76485.889288  ...  127644.2400  250898.09
NumOfProducts    10000.0       1.530200  ...       2.0000       4.00
HasCrCard        10000.0       0.705500  ...       1.0000       1.00
IsActiveMember   10000.0       0.515100  ...       1.0000       1.00
EstimatedSalary  10000.0  100090.239881  ...  149388.2475  199992.48
Exited           10000.0       0.203700  ...       0.0000       1.00

[9 rows x 8 columns]


3. Distinguish the feature and target set

In [0]:

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data_df['Geography'] = le.fit_transform(data_df['Geography'])
data_df['Gender'] = le.fit_transform(data_df['Gender'])

In [0]:
Y=pd.DataFrame(data_df['Exited'])
X=data_df.drop(['Exited'],axis=1)

In [32]:
X.shape

(10000, 10)

In [33]:
Y.shape

(10000, 1)

4. Divide the data set into Train and test sets

In [0]:
from sklearn.model_selection import train_test_split


X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [0]:
# Feature Scaling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

5. Normalize the train and test data

In [0]:

X_train = X_train.astype('float32')
X_test = X_test.astype('float32')



from sklearn.preprocessing import Normalizer
transformer = Normalizer()
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

In [0]:
y_train = tf.keras.utils.to_categorical(y_train)
y_test = tf.keras.utils.to_categorical(y_test)

6. Initialize & build the model

In [0]:
#Clear out tensorflow memory
tf.keras.backend.clear_session()

#Initialize Sequential model
model = tf.keras.models.Sequential()

#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

In [0]:
#Adding 1st dence layer
model.add(tf.keras.layers.Dense(20, activation='sigmoid',input_shape=(10,))) # we have 10 features so 10 input_shape

#Add 2nd hidden layer
model.add(tf.keras.layers.Dense(10, activation='sigmoid')) 

#Adding OUTPUT layer
model.add(tf.keras.layers.Dense(2, activation='softmax')) # outputs are 2

In [0]:
#Comile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', 
              metrics=['accuracy'])

In [46]:
model.fit(X_train,y_train,          
          validation_data=(X_test,y_test), 
          epochs=10,
          batch_size=32)

Train on 7000 samples, validate on 3000 samples
Epoch 1/10
7000/7000 [==============================] - 1s 145us/sample - loss: 0.5072 - accuracy: 0.7976 - val_loss: 0.5115 - val_accuracy: 0.7933
Epoch 2/10
7000/7000 [==============================] - 0s 61us/sample - loss: 0.5053 - accuracy: 0.7976 - val_loss: 0.5104 - val_accuracy: 0.7933
Epoch 3/10
7000/7000 [==============================] - 0s 58us/sample - loss: 0.5041 - accuracy: 0.7976 - val_loss: 0.5089 - val_accuracy: 0.7933
Epoch 4/10
7000/7000 [==============================] - 0s 60us/sample - loss: 0.5026 - accuracy: 0.7976 - val_loss: 0.5076 - val_accuracy: 0.7933
Epoch 5/10
7000/7000 [==============================] - 0s 59us/sample - loss: 0.5011 - accuracy: 0.7976 - val_loss: 0.5060 - val_accuracy: 0.7933
Epoch 6/10
7000/7000 [==============================] - 0s 56us/sample - loss: 0.4998 - accuracy: 0.7976 - val_loss: 0.5046 - val_accuracy: 0.7933
Epoch 7/10
7000/7000 [==============================] - 0s 57us/sample - loss: 0.4983 - accuracy: 0.7976 - val_loss: 0.5032 - val_accuracy: 0.7933
Epoch 8/10
7000/7000 [==============================] - 0s 60us/sample - loss: 0.4968 - accuracy: 0.7976 - val_loss: 0.5019 - val_accuracy: 0.7933
Epoch 9/10
7000/7000 [==============================] - 0s 58us/sample - loss: 0.4956 - accuracy: 0.7976 - val_loss: 0.5003 - val_accuracy: 0.7933
Epoch 10/10
7000/7000 [==============================] - 0s 59us/sample - loss: 0.4944 - accuracy: 0.7976 - val_loss: 0.4988 - val_accuracy: 0.7933

In [0]:
# defining another model with input layer activation function as relu and loss as binary crossentropy

7. Optimize the model (5 points)

In [48]:
modela = tf.keras.models.Sequential()

modela.add(tf.keras.layers.Dense(50, input_shape=(10,),activation='relu'))

modela.add(tf.keras.layers.Dense(30, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(10, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(5, kernel_initializer='normal',activation='relu'))

modela.add(tf.keras.layers.Dense(2, activation='sigmoid'))

sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

modela.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

modela.fit(X_train,y_train,          
          validation_data=(X_test,y_test),
          epochs=30)

Train on 7000 samples, validate on 3000 samples
Epoch 1/30
7000/7000 [==============================] - 1s 150us/sample - loss: 0.5371 - accuracy: 0.7970 - val_loss: 0.4564 - val_accuracy: 0.7933
Epoch 2/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.4374 - accuracy: 0.7989 - val_loss: 0.4281 - val_accuracy: 0.8008
Epoch 3/30
7000/7000 [==============================] - 1s 71us/sample - loss: 0.4257 - accuracy: 0.8081 - val_loss: 0.4209 - val_accuracy: 0.8033
Epoch 4/30
7000/7000 [==============================] - 0s 71us/sample - loss: 0.4184 - accuracy: 0.8115 - val_loss: 0.4152 - val_accuracy: 0.8082
Epoch 5/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.4111 - accuracy: 0.8141 - val_loss: 0.4079 - val_accuracy: 0.8237
Epoch 6/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3987 - accuracy: 0.8335 - val_loss: 0.3959 - val_accuracy: 0.8330
Epoch 7/30
7000/7000 [==============================] - 0s 71us/sample - loss: 0.3845 - accuracy: 0.8416 - val_loss: 0.3827 - val_accuracy: 0.8373
Epoch 8/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.3708 - accuracy: 0.8495 - val_loss: 0.3719 - val_accuracy: 0.8447
Epoch 9/30
7000/7000 [==============================] - 1s 77us/sample - loss: 0.3596 - accuracy: 0.8514 - val_loss: 0.3587 - val_accuracy: 0.8535
Epoch 10/30
7000/7000 [==============================] - 1s 80us/sample - loss: 0.3504 - accuracy: 0.8574 - val_loss: 0.3578 - val_accuracy: 0.8543
Epoch 11/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.3445 - accuracy: 0.8586 - val_loss: 0.3578 - val_accuracy: 0.8512
Epoch 12/30
7000/7000 [==============================] - 1s 75us/sample - loss: 0.3422 - accuracy: 0.8626 - val_loss: 0.3615 - val_accuracy: 0.8552
Epoch 13/30
7000/7000 [==============================] - 1s 76us/sample - loss: 0.3414 - accuracy: 0.8616 - val_loss: 0.3502 - val_accuracy: 0.8542
Epoch 14/30
7000/7000 [==============================] - 1s 77us/sample - loss: 0.3371 - accuracy: 0.8646 - val_loss: 0.3508 - val_accuracy: 0.8567
Epoch 15/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.3373 - accuracy: 0.8636 - val_loss: 0.3571 - val_accuracy: 0.8517
Epoch 16/30
7000/7000 [==============================] - 1s 78us/sample - loss: 0.3348 - accuracy: 0.8669 - val_loss: 0.3495 - val_accuracy: 0.8563
Epoch 17/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3355 - accuracy: 0.8669 - val_loss: 0.3512 - val_accuracy: 0.8578
Epoch 18/30
7000/7000 [==============================] - 1s 76us/sample - loss: 0.3327 - accuracy: 0.8650 - val_loss: 0.3526 - val_accuracy: 0.8567
Epoch 19/30
7000/7000 [==============================] - 1s 78us/sample - loss: 0.3318 - accuracy: 0.8666 - val_loss: 0.3559 - val_accuracy: 0.8543
Epoch 20/30
7000/7000 [==============================] - 1s 77us/sample - loss: 0.3293 - accuracy: 0.8679 - val_loss: 0.3552 - val_accuracy: 0.8555
Epoch 21/30
7000/7000 [==============================] - 1s 76us/sample - loss: 0.3304 - accuracy: 0.8675 - val_loss: 0.3510 - val_accuracy: 0.8558
Epoch 22/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3286 - accuracy: 0.8679 - val_loss: 0.3512 - val_accuracy: 0.8575
Epoch 23/30
7000/7000 [==============================] - 1s 74us/sample - loss: 0.3284 - accuracy: 0.8679 - val_loss: 0.3526 - val_accuracy: 0.8575
Epoch 24/30
7000/7000 [==============================] - 1s 72us/sample - loss: 0.3266 - accuracy: 0.8686 - val_loss: 0.3505 - val_accuracy: 0.8572
Epoch 25/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3269 - accuracy: 0.8690 - val_loss: 0.3569 - val_accuracy: 0.8563
Epoch 26/30
7000/7000 [==============================] - 1s 75us/sample - loss: 0.3257 - accuracy: 0.8674 - val_loss: 0.3563 - val_accuracy: 0.8548
Epoch 27/30
7000/7000 [==============================] - 0s 70us/sample - loss: 0.3251 - accuracy: 0.8699 - val_loss: 0.3590 - val_accuracy: 0.8567
Epoch 28/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3227 - accuracy: 0.8720 - val_loss: 0.3566 - val_accuracy: 0.8578
Epoch 29/30
7000/7000 [==============================] - 1s 75us/sample - loss: 0.3232 - accuracy: 0.8714 - val_loss: 0.3531 - val_accuracy: 0.8565
Epoch 30/30
7000/7000 [==============================] - 1s 73us/sample - loss: 0.3220 - accuracy: 0.8710 - val_loss: 0.3553 - val_accuracy: 0.8565

 9. Predict the results using 0.5 as a threshold

In [0]:
9. Predict the results using 0.5 as a threshold

In [50]:

#Predicting the Test set results
y_pred = model.predict(X_test)
#Threshold of 50%
y_pred = (y_pred > 0.5)
y_pred

array([[False,  True],
       [ True, False],
       [ True, False],
       ...,
       [ True, False],
       [ True, False],
       [ True, False]])


10. Print the Accuracy score and confusion matrix

In [52]:

#Making the COnfusion Matrix
from sklearn import metrics

pd.DataFrame(metrics.confusion_matrix(y_test.argmax(axis=1), y_pred.argmax(axis=1)))

      0    1
0  2276  104
1   327  293

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.856